@import '@/static/scss/base/media.scss';
@import '@/static/scss/base/mixins.scss';
@import '@/static/scss/base/constants';

.page-hn {
  --section-offset: 40px;
  background-color: var(--color-primary-lighten);
  font-size: 19px;
  font-weight: 500;
  line-height: 1.35;
  min-height: 100vh;

  .section-title {
    margin-bottom: 0.9em;
  }

  @include media(lg) {
    font-size: 17px;
  }
  @include media(900) {
    --section-offset: 35px;

    .section-title {
      margin-bottom: 1.1em;
    }
  }
  @include media(sm) {
    --section-offset: 30px;
  }
  @include media(xxs) {
    font-size: 16px;
  }
}

.hn-sections-offset {
  padding-top: var(--section-offset);
  padding-bottom: var(--section-offset);
}

/**-------------------------------
  * hn-categories
  *-----------------------------*/
.hn-categories {
  padding-top: 105px;
  padding-bottom: 115px;

  &__title {
    letter-spacing: -0.03em;
    margin-bottom: 0.5em;
    padding-left: 15%;
    padding-right: 15%;
    line-height: 1;
  }

  &__tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 60px;

    &-footer {
      display: none;
      justify-content: center;
    }
    &-btn-more {
      height: 50px;
    }
  }
  &__bubbles {
    .bubble-message__inner {
      min-height: 64px;
    }
  }

  @include media(lg) {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @include media(900) {
    &__title {
      padding-left: 5%;
      padding-right: 5%;
    }
  }
  @include media(md) {
    &__tabs {
      margin-bottom: 50px;
    }
  }
  @include media(sm) {
    padding-top: 40px;
    padding-bottom: 50px;
    &__title {
      font-size: 32px;
    }

    &__tabs {
      margin-top: 24px;
      margin-bottom: 40px;
      &-footer {
        display: flex;
      }
    }
    .bubble-message {
      width: 100%;
      &__inner {
        border-radius: 16px;
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: auto;
        padding: 15px;
        font-size: 14px;
      }
    }
  }
  @include media(xs) {
    .bubble-message {
      .anticon {
        font-size: 24px;
      }
    }
  }
}

/**-------------------------------
  * hn-categories-item
  *-----------------------------*/
.hn-categories-item {
  opacity: 0;
  display: none;

  &.active {
    display: block;
    animation: 0.5s ease 0s homeCategoryAnimate forwards;
  }
}

@keyframes homeCategoryAnimate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/**-------------------------------
  * hn-categories-tab
  *-----------------------------*/
.hn-categories-tab {
  background-color: transparent;
  border: 1px solid #b8d9d9;
  border-radius: 40px;
  box-shadow: 0 0 3px transparent;
  cursor: pointer;
  height: 60px;
  padding: 5px 25px 5px 5px;
  display: inline-flex;
  align-items: center;
  margin: 8px;
  text-align: center;
  transition: background-color 0.25s ease, box-shadow 0.25s ease;
  user-select: none;

  &:hover {
    background-color: #fff;
  }
  &.active {
    background-color: #fff;
    border-color: var(--color-primary-old);
    box-shadow: 0 0 0 1px var(--color-primary-old);
  }

  &__media {
    height: 50px;
    width: 50px;
    flex: 0 0 50px;
    border-radius: 50%;
    background-color: #f9f9f9;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 15px;
  }

  @include media(md) {
    font-size: 16px;
    height: 44px;
    &__media {
      flex-basis: 36px;
      height: 36px;
      width: 36px;
      margin-right: 10px;
    }
  }

  @include media(sm) {
    font-size: 15px;
    margin: 3px 0;
    width: 100%;
    position: relative;
    line-height: 1;
    opacity: 0;
    display: none;
    text-align: left;
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      opacity: 1;
      display: inline-flex;
      animation: none !important;
    }

    &.visible {
      animation-name: fadeInUp;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      animation-timing-function: ease;
      display: inline-flex;
      @for $i from 4 through 20 {
        &:nth-child(#{$i}) {
          animation-delay: #{($i - 4) * 0.1}s;
        }
      }
    }

    &__title {
      @include cropLines(2);
    }
  }

  @include media(xxxs) {
    font-size: 13px;
  }
}

/**-------------------------------
  * hn-categories-main
  *-----------------------------*/
.hn-categories-main {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 120px;
  position: relative;

  &__col-1 {
    flex: 0 0 42%;
    padding-top: 10px;
    padding-left: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  &__col-2 {
    flex: 1;
    max-width: (100% - 42%);
  }

  &__col-1__inner {
    width: 395px;
    max-width: 100%;
  }

  &__media {
    position: relative;
    padding-bottom: 114%;
    width: 100%;

    &-1,
    &-2 {
      position: absolute;
      padding-bottom: 82.5%;
      width: 64.5%;
    }
    &-1 {
      transform: rotate(-1.97deg);
      top: 5px;
      left: 0;
    }
    &-2 {
      filter: drop-shadow(-80px -20px 50px rgba(0,0,0,.3));
      transform: rotate(2deg);
      bottom: 0;
      right: 10px;
    }
    img {
      border-radius: 20px;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__title {
    margin-bottom: 0.6em;
    letter-spacing: -0.03em;

    &--mobile {
      display: none;
    }
  }
  &__text {
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 25px;
      font-family: var(--font-cera);
      margin-bottom: 25px;
      margin-top: 30px;
    }
    ul,
    ol,
    p {
      margin-bottom: 1em;
    }
    li {
      margin-bottom: 10px;
    }
    ul,
    ol {
      margin-top: 1em;
    }
    ul {
      list-style-type: '- ';
      padding-left: 12px;
    }
    ol {
      list-style-type: 'auto';
      padding-left: 12px;
    }
  }

  &__cta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 33px;

    &--mobile {
      display: none;
    }

    &-btn {
      width: 310px;
    }

    &-info {
      color: #878787;
      font-size: 16px;
      line-height: 1.2;
      display: inline-flex;
      align-items: center;
      margin-top: 20px;

      .anticon {
        font-size: 1.5em;
        margin-right: 10px;
      }
    }
  }

  @media (min-width: 768px) {
    .rah-static--height-specific {
      height: auto !important;

      &::after {
        display: none !important;
      }
    }
    .collapse-text-btn {
      display: none !important;
    }
  }

  @include media(md) {
    padding-bottom: 80px;
    &__col-1 {
      width: 40%;
    }
    &__col-1__inner {
      width: 100%;
    }
    &__col-2 {
      max-width: 60%;
    }
    &__text {
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
        line-height: 1.2;
      }
    }
  }

  @include media(sm) {
    flex-direction: column;
    &__title {
      font-size: 28px;
      &--mobile {
        display: flex;
      }
      &--desktop {
        display: none;
      }
    }
    &__col-1 {
      padding-left: 0;
      margin-bottom: 40px;
      position: relative;
      align-items: flex-start;
      width: 100%;
      &__inner {
        width: 340px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    &__col-2 {
      max-width: 100%;
    }
    &__cta {
      &--mobile {
        display: flex;
      }
      &--desktop {
        display: none;
      }
    }
  }
}

/**-------------------------------
  * hn-categories-quiz
  *-----------------------------*/
.hn-categories-quiz {
  scroll-margin-top: 80px;
  &__title {
    letter-spacing: -0.03em;
    margin-bottom: 15px;
  }
  &__subtitle {
    font-size: 22px;
    text-align: center;
  }

  .main-quiz {
    margin-top: 45px;
  }

  @include media(lg) {
    &__subtitle {
      font-size: 18px;
    }
  }
  @include media(sm) {
    &__title {
      font-size: 32px;
      justify-content: flex-start;
      text-align: left;
    }
    &__subtitle {
      font-size: 18px;
      text-align: left;
    }
  }
}

/**-------------------------------
  * hn-categories-recommendations
  *-----------------------------*/
.hn-categories-recommendations {
  padding-top: 105px;
  padding-bottom: 50px;
  display: flex;
  &__title {
    margin-bottom: 0.9em;
    line-height: 1.2;
    letter-spacing: -0.03em;
  }
  &__sidebar {
    flex: 0 0 34%;
    max-width: 34%;
    padding-right: 60px;
    position: relative;
    &-inner {
      position: sticky;
      top: 110px;
    }
    // .psh-group-item {
    //   margin-bottom: 50px;
    // }
  }
  &__body {
    flex: 1;
    max-width: (100% - 34%);
    padding-top: 15px;
  }

  .psh-card-simple {
    margin-bottom: 20px;

    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }

  @media (min-width: 1025px) {
    .slick-track,
    .slick-slide {
      pointer-events: auto !important;
      width: 100% !important;
      transform: none !important;
    }
    .slick-slide {
      margin-bottom: 20px;
    }
    .slick-list {
      height: auto !important;
    }
  }

  @include media(lg) {
    &__title {
      line-height: 1;
    }
    &__body {
      padding-top: 0;
    }
    &__sidebar {
      padding-right: 30px;
    }
  }

  @include media(md) {
    padding-top: 80px;
    flex-wrap: wrap;
    flex-direction: column;
    &__sidebar,
    &__body {
      flex: 1 0 100%;
      max-width: 100%;
    }
    &__sidebar {
      padding-right: 0;
      margin-bottom: 30px;
    }
    .has-primary-arrows {
      .slick-arrow {
        top: 100%;
      }
    }
    .slick-list {
      transition: height 0.3s ease;
    }
    .slick-dots {
      button {
        height: 14px;
        width: 14px;
      }
      li {
        width: 14px;
      }
    }
  }

  @media (max-width: 1024px) and (min-width: 768px) {
    &__title,
    .psh-avatars-group {
      justify-content: center;
    }
    &__title,
    .psh-group-item {
      text-align: center;
    }
    .psh-card-simple__inner {
      padding: 30px;
    }
    .psh-card-simple__content {
      padding-left: 30px;
    }
  }

  @include media(xs) {
    .slick-prev {
      left: 0;
    }
    .slick-next {
      right: 0;
    }
  }
}

/**-------------------------------
  * recommended-methods
  *-----------------------------*/
.recommended-methods {
  border: 1px solid #cde6e6;
  border-radius: 20px;
  padding: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 50px;
  animation: 0.5s ease 0s fadeUp forwards;

  &__icon {
    font-size: 24px;
    height: 1.875em;
    width: 1.875em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      font-size: 1.875em;
      color: var(--color-primary-old);
    }
    &-value {
      color: #fff;
      position: relative;
    }
  }

  &__header {
    margin-bottom: 1.3em;
  }
  &__title {
    font-size: 1.22em;
    font-weight: 700;
    line-height: 1.35;
    margin-bottom: 0.25em;
  }
  &__subtitle {
    color: var(--color-secondary);
    font-size: 0.89em;
    line-height: 1.17;
  }

  &-item {
    margin-bottom: 1.6em;

    &:nth-last-child(1) {
      margin-bottom: 0;
    }
    &__title {
      font-size: 1em;
      font-weight: 700;
      margin-bottom: 0.4em;
    }
  }
}

/**-------------------------------
  * hn-categories-reviews
  *-----------------------------*/
.hn-categories-reviews {
  padding-top: 100px;
  padding-bottom: 80px;
  overflow: hidden;

  &__title {
    margin: 0 auto 40px;
    width: 60%;
  }

  @include media(lg) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include media(sm) {
    padding-top: 40px;
    padding-bottom: 40px;
    &__title {
      font-size: 32px;
      margin-bottom: 25px;
      width: 100%;
    }
  }
}

/**-------------------------------
  * hn-categories-blog
  *-----------------------------*/
.hn-categories-blog {
  padding-top: 50px;
  &__title {
    letter-spacing: -0.03em;
    margin: 0 auto 45px;
    width: 80%;
  }

  @include media(sm) {
    &__title {
      font-size: 32px;
      margin-bottom: 25px;
      width: 100%;
    }
  }
}

/**-------------------------------
  * hn-prices
  *-----------------------------*/
.hn-prices {
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 60px;
  overflow: hidden;
  &__title {
    margin-bottom: 0.2em;
  }
  &__subtitle {
    font-size: 22px;
    text-align: center;
  }
  .tariffs {
    margin-top: 75px;
  }

  @include media(lg) {
    padding-top: 70px;
  }
  @include media(sm) {
    padding-top: 55px;
    padding-bottom: 30px;
    &__title {
      font-size: 32px;
    }
    &__subtitle {
      font-size: 18px;
    }
    .tariffs {
      margin-top: 50px;
    }
  }
}

/**-------------------------------
  * hn-psh
  *-----------------------------*/
.hn-psh {
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
  z-index: 3;
  &__title {
    margin-bottom: 0.3em;
  }
  &__subtitle {
    font-size: 22px;
    text-align: center;
  }
  &__info {
    margin-top: 15px;
  }
  &__footer {
    margin: 40px auto 0;
    display: flex;
    justify-content: center;
    .psh-group-item {
      text-align: center;
    }
  }
  .slick-list {
    transition: height 0.3s ease;
  }

  @include media(sm) {
    padding-top: 40px;
    &__title {
      font-size: 28px;
    }
    &__subtitle {
      font-size: 18px;
    }
  }
  @include media(xs) {
    &__title,
    &__subtitle,
    .info-badge {
      text-align: left;
    }
    &__title {
      justify-content: flex-start;
    }
  }
  @include media(xxs) {
    .psh-avatars-group__item {
      &:nth-last-child(2),
      &:nth-last-child(3),
      &:nth-last-child(4) {
        display: none;
      }
    }
  }
}

/**-------------------------------
  * hn-categories-flash
  *-----------------------------*/
.hn-categories-flash {
  overflow: hidden;
  padding-bottom: 50px;
  margin-bottom: -50px;
  padding-top: 50px;
  margin-top: -50px;
}

/**-------------------------------
  * hn-how
  *-----------------------------*/
.hn-how {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 60px;
  position: relative;
  z-index: 2;

  &__title {
    margin-bottom: 45px;
  }

  @include media(md) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @include media(sm) {
    padding-top: 0;
    &__title {
      font-size: 32px;
      margin-bottom: 20px;
    }
    &__items {
      margin: 0 auto;
    }
  }
}

/**-------------------------------
  * hn-how-item
  *-----------------------------*/
.hn-how-item {
  $c: &;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: 60px;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }
  &:nth-child(odd) {
    #{$c} {
      &__media {
        &-decorate {
          left: 0;
          &-img {
            filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.25));
          }
        }
      }
      &__content {
        padding-left: 50px;
      }
    }
  }
  &:nth-child(even) {
    flex-direction: row-reverse;
    #{$c} {
      &__media {
        &-decorate {
          right: 0;
          &-img {
            filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.25));
          }
        }
      }
      &__content {
        padding-right: 50px;
      }
    }
  }
  &--1 {
    #{$c} {
      &__media {
        &-decorate {
          &-img {
            border-radius: 15px;
            transform: rotate(-3deg) translateX(-20%);
          }
        }
      }
    }
  }
  &--2 {
    #{$c} {
      &__media {
        &-decorate {
          &-img {
            border-radius: 15px;
            transform: rotate(2deg) translateX(20%);
          }
        }
      }
    }
  }
  &--3 {
    #{$c} {
      &__media {
        &-decorate {
          &-img {
            border-radius: 29.5333px;
            transform: rotate(-2.57deg) translateX(-20%);
          }
        }
      }
    }
  }

  &__media {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 400px;
    flex: 0 0 400px;
    position: relative;

    &-img {
      border-radius: 20px;
      overflow: hidden;
    }
    &-decorate {
      position: absolute;
      bottom: 5%;
      transition: transform 0.1s ease-out;
      &-img {
        overflow: hidden;
      }
    }
  }
  &__content {
    flex: 1 0 calc(100% - 400px);
    padding-bottom: 5px;
  }
  &__header {
    position: relative;
    padding-left: 64px;
    min-height: 44px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  &__title {
    line-height: 1;
  }
  &__badge {
    font-size: 22px;
    height: 2em;
    width: 2em;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;

    &-label {
      position: relative;
      font-family: var(--font-cera);
    }

    .anticon {
      color: var(--color-primary-old);
      font-size: 2em;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__body {
    .btn {
      font-size: inherit;
    }
    p {
      margin-bottom: 15px;
    }
  }

  &__btn {
    margin-top: 25px;
    height: 50px;
    min-width: 250px;
  }

  @include media(lg) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include media(md) {
    &:nth-child(odd) {
      padding-right: 0;
    }
    &:nth-child(even) {
      padding-left: 0;
    }

    &__content {
      padding-left: 40px;
    }
  }

  @media (max-width: 1024px) and (min-width: 768px) {
    &__media {
      height: 320px;
      width: 320px;
      flex: 0 0 320px;
    }
    &--1 {
      #{$c} {
        &__media {
          &-decorate {
            &-img {
              transform: rotate(-3deg) translateX(-20%) scale(0.8);
            }
          }
        }
      }
    }
    &--2 {
      #{$c} {
        &__media {
          &-decorate {
            &-img {
              transform: rotate(2deg) translateX(20%) scale(0.8);
            }
          }
        }
      }
    }
    &--3 {
      #{$c} {
        &__media {
          &-decorate {
            &-img {
              transform: rotate(-2.57deg) translateX(-30%) scale(0.8);
            }
          }
        }
      }
    }
  }

  @include media(900) {
    font-size: 16px;
  }

  @include media(sm) {
    flex-direction: column;
    margin-bottom: 40px;
    padding: 0;

    &:nth-child(odd) {
      #{$c} {
        &__content {
          padding-left: 0;
        }
      }
    }
    &:nth-child(even) {
      flex-direction: column;
      #{$c} {
        &__content {
          padding-right: 0;
        }
      }
    }
    &__content,
    &__media {
      flex-basis: 100%;
      max-width: 100%;
    }
    &__title {
      justify-content: center;
    }
    &__content {
      position: relative;
      padding-top: 30px;
      padding-left: 0;
      text-align: left;
      width: 100%;
    }
  }

  @include media(xs) {
    &__media {
      padding-bottom: 45px;
      &-decorate {
        bottom: 0 !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
      }
    }
    &--1 {
      #{$c} {
        &__media {
          &-decorate {
            &-img {
              transform: rotate(-3deg) scale(1.1);
            }
          }
        }
      }
    }
    &--2 {
      #{$c} {
        &__media {
          &-decorate {
            &-img {
              transform: rotate(2deg);
            }
          }
        }
      }
    }
    &--3 {
      #{$c} {
        &__media {
          &-decorate {
            &-img {
              transform: rotate(-2.57deg);
            }
          }
        }
      }
    }
  }
}

/**-------------------------------
  * hn-group-therapy
  *-----------------------------*/
.hn-group-therapy {
  background-color: #fff;
  padding-top: 200px;
  padding-bottom: 160px;
  line-height: 1.35;
  text-align: center;
  margin-top: -80px;
  position: relative;
  z-index: 1;

  &__title {
    margin-bottom: 30px;

    .title-label {
      max-width: 850px;
    }
  }
  &__description {
    text-align: center;
    width: 610px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  &__description,
  &__items,
  &__footer {
    margin-bottom: 50px;
  }

  &__items {
    display: flex;
  }
  &__item {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 2%;
    padding-right: 2%;
    &__icon {
      font-size: 48px;
      color: var(--color-primary-old);
      margin-bottom: 15px;
    }
    &__title {
      font-size: 1.25em;
      font-weight: 700;
      margin-bottom: 5px;
    }
  }
  &__btn-cta {
    width: 420px;
    max-width: 100%;
  }

  p {
    margin-bottom: 0.75em;

    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }

  @include media(lg) {
    padding-top: 160px;
    padding-bottom: 80px;
  }
  @include media(md) {
    &__item {
      font-size: 16px;
      &__title {
        font-size: inherit;
      }
    }
  }
  @include media(sm) {
    padding-top: 130px;
    padding-bottom: 60px;
    &__title {
      font-size: 32px;
      text-align: left;
      justify-content: flex-start;
    }
    &__description {
      text-align: left;
      width: 100%;
      margin-bottom: 35px;
    }
    &__items {
      flex-wrap: wrap;
      margin-bottom: 0;
    }
    &__item {
      flex-basis: 50%;
      max-width: 50%;
      margin-bottom: 30px;
      text-align: left;
      padding-left: 0;
      padding-right: 30px;
    }
    &__footer {
      margin-bottom: 20px;
    }
  }
  @include media(xs) {
    text-align: left;
  }
  @include media(xxs) {
    &__item {
      flex-basis: 100%;
      max-width: 100%;
      padding-right: 0;
      text-align: center;
    }
  }
}

/**-------------------------------
  * hn-business-wrapper
  *-----------------------------*/
.hn-business-wrapper {
  background-color: #e8ffff;
  padding-top: 200px;
  padding-bottom: 100px;
  margin-top: -80px;

  @include media(lg) {
    padding-top: 170px;
    padding-bottom: 80px;
  }
  @include media(sm) {
    padding-top: 140px;
    padding-bottom: 50px;
  }
}

/**-------------------------------
  * hn-business
  *-----------------------------*/
.hn-business {
  padding-bottom: 80px;
  &__inner {
    display: flex;
    align-items: center;
  }
  &__media,
  &__content {
    flex: 0 0 50%;
  }
  &__media {
    padding-right: 70px;
    img {
      border-radius: 20px;
      overflow: hidden;
    }
  }
  &__content {
    padding: 0 5px;
  }
  &__title {
    line-height: 1;
    margin-bottom: 0.6em;
    max-width: 400px;
  }
  &__text {
    p {
      margin-bottom: 25px;
      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }
  }
  &__btn-cta {
    width: 330px;
    max-width: 100%;
    margin-top: 40px;
  }

  @include media(lg) {
    &__inner {
      align-items: flex-start;
    }
    &__media {
      padding-right: 50px;
    }
  }

  @include media(md) {
    padding-bottom: 50px;
    &__media {
      padding-right: 30px;
    }
  }

  @include media(sm) {
    &__inner {
      flex-direction: column;
      align-items: center;
    }
    &__media {
      padding-right: 0;
      margin-bottom: 25px;
    }
    &__btn-cta {
      left: 50%;
      transform: translateX(-50%);
      width: auto;
    }
  }
}

/**-------------------------------
  * hn-help
  *-----------------------------*/
.hn-help {
  padding-bottom: 40px;
  &__title {
    letter-spacing: -0.03em;
    margin-bottom: 0.7em;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    width: calc(100% + 20px);
  }

  @include media(md) {
    padding-bottom: 20px;
  }
  @include media(sm) {
    &__title {
      margin-bottom: 30px;
    }
  }
}

/**-------------------------------
  * hn-partners
  *-----------------------------*/
.hn-partners {
  &__title {
    letter-spacing: -0.03em;
    margin-bottom: 0.7em;
  }
}

/**-------------------------------
  * hn-faq
  *-----------------------------*/
.hn-faq {
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;

  &__title {
    letter-spacing: -0.03em;
    margin-bottom: 0.65em;
  }

  @include media(lg) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  @include media(sm) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
