/**-------------------------------
  * text
  *-----------------------------*/
.text {
  &-size {
    &-small {
      font-size: 0.75em;
    }
    &-middle {
      font-size: 0.85em;
    }
    &-large {
      font-size: 1em;
    }
    &-18 {
      font-size: 18px;
    }
  }
  &-color {
    &-secondary {
      color: $color-secondary;
    }
  }
  &__border_left {
    border-left: 3px solid #00d2d7;
    padding-left: 20px;
  }
  &.is-bg {
    background: #ecf7f8;
    border-radius: 10px;
    padding: 20px;
    line-height: 1.2;
  }
  &.is-center {
    text-align: center;
  }
}