.reviews-add-block {
  margin-bottom: 24px;
  text-align: center;

  .btn {
    min-width: 210px;
  }
}

.reviews-form {
  &__submit {
    margin: 10px auto 0;
    width: 100%;
  }
}

.grade-block {
  margin-bottom: 25px;

  &__title {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
  }
  &__stars {
    display: flex;
    justify-content: center;
  }
}

.reviews-form {
  .psy-block {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 14px rgba(0,0,0,.1);
    margin: 5px auto 25px;
    font-size: 14px;
  
    p {
      margin-bottom: 12px;
    }
  
    &__inner {
      display: flex;
      align-items: flex-start;
    }
    &__media {
      flex: 0 0 120px;
      padding: 10px;
      border-radius: 8px;
      overflow: hidden;
      img {
        border-radius: 8px;
      }
    }
    &__content {
      padding: 15px;
      flex: 1;
      max-width: calc(100% - 120px);
    }
    &__name {
      font-size: 1.25em;
      font-weight: 600;
      margin-bottom: 4px;
      text-align: center;
    }
    &__description {
      text-align: center;
      margin-bottom: 20px;
      font-size: 0.85em;
    }
  }
}