.blog-carousel {
  .slick-list {
    overflow: visible;
  }
}
.blog-carousel-item {
  padding: 0 10px;
}
.blog-carousel-card {
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  -webkit-filter: drop-shadow(0 12px 64px rgba(0,0,0,.08));
  filter: drop-shadow(0 12px 64px rgba(0,0,0,.08));
  overflow: hidden;
  height: auto;
  width: 100%;
  font-family: var(--font-cera);
  font-size: 14px;

  &__media {
    background-color: #f0f0f0;
    height: 180px;
    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding: 17px 20px 60px 20px;
    position: relative;
  }
  &__title {
    font-weight: 1.28em;
    font-weight: 700;
    margin-bottom: 13px;
    text-decoration: none;

    &:hover {
      color: var(--color-primary-old-hover);
    }
  }
  &__text {
    line-height: 20px;
  }
  &__more {
    background: var(--color-primary-old) url('/img/nextArrowIcon.png') no-repeat 50%;
    border-radius: 6px;
    display: block;
    height: 30px;
    left: 20px;
    bottom: 15px;
    position: absolute;
    text-decoration: none;
    width: 30px;

    &:hover {
      background-color: var(--color-primary-old-hover);
    }
  }
}
