/**-------------------------------
  * psh-group-item
  *-----------------------------*/
.psh-group-item {
  $c: &;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  text-align: left;

  &__link {
    .btn {
      font-weight: inherit;
      font-family: inherit;
      font-size: inherit;
    }
  }

  &--vertical {
    #{$c} {
      &__avatars {
        margin-bottom: 10px;
      }
    }
  }
  &--horizontal {
    display: flex;
    align-items: center;
    #{$c} {
      &__avatars {
        margin-right: 15px;
      }
    }
  }
}
