.item {
  align-items: center;
  background: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  padding: 50px 33px 50px 50px;
  position: relative;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 35px;
  font-size: 22px;
  line-height: 1.2;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 77px;
    width: 1em;
    height: 1em;
    background-image: url('/img/quote_dark.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .stars {
    margin-bottom: 10px;
  }
}

.header {
  margin-right: 30px;
  flex: 0 0 28%;
  max-width: 28%;
}

.body {
  flex: 1;
  max-width: 72%;
  padding-right: 100px;
}

.name {
  font-size: 1.13em;
  font-weight: 600;
  margin-bottom: 0.6em;
}

.psh {
  font-size: 0.9em;
}

@media (max-width: 1200px) {
  .item {
    flex-direction: column;
    align-items: flex-start;
  }
  .header,
  .body {
    max-width: 100%;
  }
  .header {
    margin-bottom: 15px;
  }
  .stars,
  .name {
    margin-bottom: 5px;
  }
}

@media (max-width: 767px) {
  .item {
    font-size: 16px;
    padding: 20px;

    &::after {
      font-size: 40px;
    }
  }
  .body {
    padding-right: 0;
  }
}

@media (max-width: 565px) {
  .item {
    &::after {
      display: none;
    }
  }
}
