@import '@/static/scss/base/media.scss';

.review-card {
  border-radius: 15px;
  background: #ecf7f8;
  position: relative;
  margin-bottom: 20px;
  line-height: 1.3;
  font-size: 20px;
  min-height: 90px;

  &::before {
    content: '';
    font-size: 35px;
    height: 2em;
    width: 1em;
    background-image: url('/img/icons/quote.svg');
    background-size: contain;
    background-position: left top;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }

  &-inner {
    padding: 30px 65px 40px;
  }

  &-title {
    font-weight: 700;
    margin-bottom: 9px;
  }

  @include media(md) {
    font-size: 18px;
  }
  @include media(sm) {
    font-size: 16px;
    &::before {
      width: 24px;
      height: 48px;
    }
    &-inner {
      padding: 20px 20px 20px 40px;
    }
  }
}
