$font-family: var(--font-cera);
$font-family-secondary: 'Raleway', serif;
$font-family-mono: source-code-pro, Monaco, Consolas, "Courier New", monospace;
$font-size: 17px;
$font-size-md: 15px;
$font-size-sm: 13px;

$color-text: #262524;
$color-secondary: #99ADAE;
$color-primary: #00BDC2;
$color-border: #D7E3E4;
$color-red: #ff4d4f;
$color-red-hover: #D44D4D;
$color-input-border-focus: #21cfcf;

$color-white-hover: #ECF7F8;
$color-primary-light: #bbf2f4;

$image-bg-color: #f9f9f9;

$border-base: 1px solid $color-border;
$border-radius-table: 10px;

$table-scroll-label-height: 36px;

$input-fz-sm: 13px;
$input-fz-md: 15px;
$input-fz-lg: 17px;

$input-h-sm: 30px;
$input-h-md: 40px;
$input-h-lg: 60px;

$input-br-sm: 6px;
$input-br-md: 8px;
$input-br-lg: 10px;
