@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $display: swap ) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    font-display: $display;

    src: url('./../../fonts/#{$file-path}.woff2') format('woff2'),
          url('./../../fonts/#{$file-path}.woff') format('woff');
  }
}