.feedback-form-home {
  max-width: 610px;

  .inputs {
    display: grid;
    gap: 20px;
    margin-bottom: 20px;
    grid-template-columns: repeat(2, 1fr);

    .form-field {
      margin-bottom: 0;
    }
  }

  .field-textarea {
    textarea {
      min-height: 190px;
    }
  }

  .form-footer {
    margin-top: 40px;

    .btn {
      width: 330px;
      max-width: 100%;
    }
  }

  @media (max-width: 500px) {
    .inputs {
      grid-template-columns: 1fr;
    }
  }
}
