@import '@/static/scss/base/constants.scss';
@import '@/static/scss/base/media.scss';

.info-message {
  font-size: 20px;
  font-family: var(--font-cera);
  line-height: normal;

  &-inner {
    position: relative;
  }
  &-icon {
    position: absolute;
    top: 0.15em;
    left: 0;
    font-size: 1.3em;
    color: $color-primary;
  }
  &-title {
    font-size: 1.15em;
    font-weight: 500;
    margin-bottom: 0.5em;
  }

  &--info {
    background-color: #ecf7f8;
  }
  &--error {
    background-color: #f6dede;

    .info-message-icon {
      color: red;
    }
  }

  &--sm {
    border-radius: 13px;
    padding: 15px 20px;
  }
  &--md {
    border-radius: 20px;
    padding: 30px;
  }

  &.has-icon {
    .info-message {
      &-inner {
        padding-left: 2.25em;
      }
    }
  }

  @include media(lg) {
    font-size: 18px;
    &--md {
      border-radius: 13px;
      padding: 22px 20px;
    }
  }
  @include media(sm) {
    font-size: 16px;
  }
  @include media(xxs) {
    font-size: 14px;
  }
}
