.copy-item {
  display: inline-flex;
  align-items: center;

  &-btnicon {
    cursor: pointer;
    font-size: 18px;
    height: 2em;
    width: 2em;
    border-radius: 10px;
    border: $border-base;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $color-primary;
    transition: color .25s ease, background-color .25s ease, border-color .25s ease;

    &:hover {
      color: #FFF;
      background-color: $color-primary;
      border-color: $color-primary;
    }
  }

  &-label {
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 8px;
    background-color: transparent;
    transition: background-color .25s ease;

    &.copied {
      background-color: $color-primary-light;
      border-radius: 6px;
    }
  }
}